<!DOCTYPE html>
<html>
<head>
  <title>Add Employee</title>
</head>
<body>
  <h1>Add Employee</h1>
  <form action="/employees/new" method="POST">
    <label>Name:</label>
    <input type="text" name="emp_name" required><br>
    <label>Email:</label>
    <input type="email" name="email" required><br>
    <label>Mobile:</label>
    <input type="text" name="mobile" required><br>
    <label>Salary:</label>
    <input type="number" name="salary" required><br>
    <label>Department:</label>
    <select name="dep_id">
      <% departments.forEach(dep => { %>
        <option value="<%= dep.dep_id %>"><%= dep.dep_name %></option>
      <% }) %>
    </select><br>
    <button type="submit">Save</button>
  </form>
</body>
</html>